<a href="https://colab.research.google.com/github/nupursjsu/Deep-Learning/blob/master/First_Code_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My First Code example 1-1

In [0]:
#Importing Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from warnings import simplefilter
#Ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [0]:
#Getting the breast cancer dataset
dataset = pd.read_csv('/content/drive/My Drive/Colab Notebooks/bc.csv')

In [0]:
#Removing unwanted columns
dataset.drop(["Unnamed: 0", "Id"], axis = 1, inplace = True)

In [25]:
#Displaying first 5 records in the data
dataset.head(5)

   Cl.thickness  Cell.size  Cell.shape  ...  Normal.nucleoli  Mitoses  Class
0             5          1           1  ...                1        1      0
1             5          4           4  ...                2        1      0
2             3          1           1  ...                1        1      0
3             6          8           8  ...                7        1      0
4             4          1           1  ...                1        1      0

[5 rows x 10 columns]

In [26]:
#Getting the column information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 10 columns):
Cl.thickness       683 non-null int64
Cell.size          683 non-null int64
Cell.shape         683 non-null int64
Marg.adhesion      683 non-null int64
Epith.c.size       683 non-null int64
Bare.nuclei        683 non-null int64
Bl.cromatin        683 non-null int64
Normal.nucleoli    683 non-null int64
Mitoses            683 non-null int64
Class              683 non-null int64
dtypes: int64(10)
memory usage: 53.5 KB

In [0]:
#Converting categorical variable 'Class' to numbers using LabelEncoder
class_number = LabelEncoder()
dataset['Class'] = class_number.fit_transform(dataset['Class'].astype(str))

In [28]:
#Displaying first 5 records in the data
dataset.head(5)

   Cl.thickness  Cell.size  Cell.shape  ...  Normal.nucleoli  Mitoses  Class
0             5          1           1  ...                1        1      0
1             5          4           4  ...                2        1      0
2             3          1           1  ...                1        1      0
3             6          8           8  ...                7        1      0
4             4          1           1  ...                1        1      0

[5 rows x 10 columns]

In [29]:
#Counting the no. of 0's and 1's in the 'Class'
dataset['Class'].value_counts()

0    444
1    239
Name: Class, dtype: int64

In [0]:
#Splitting the dataset into training and test set
X = dataset.iloc[:, [0, 1, 2]].values
Y = dataset.iloc[:, 9].values
train, test = train_test_split(dataset, test_size=0.30, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=1)

In [31]:
#Counting the no. of 0's and 1's in 'Class' column of training data. The no of 0's are approximately double of 1's so there is a class imbalance
train.Class.value_counts()

0    311
1    167
Name: Class, dtype: int64

In [0]:
#Fitting logistic regression to the training set before handling class imbalance
classifier = LogisticRegression(random_state=1)
classifier.fit(X_train, y_train)

#Predicting the test set results
y_pred = classifier.predict(X_test)

In [33]:
#Calculating and printing the model accuracy before handling class imbalance
print( accuracy_score(y_pred, y_test) )

0.9317073170731708